/practice5/target/
/mavenproject1/target/
/practicePrgramming7/target/
/DebuggingLesson/target/
/PracticeProgramming9/target/
/PracticeProgramming8/target/
/Factorizer/target/
/InterestCalculator/target/
/DogGenetics/target/
/HeartConcept/target/
/summativeSums/target/
/RockPaperScissors/target/
/summativeSums/summativeSums/target/
/summativeSums/src/target/
/LuckySevens/target/
/SimpleCalculator/target/
/Shapes/target/
/UserIO/target/
/stateCapitals/target/
/stateCapitals2/target/
/StudentQuizScores/target/
/ClassRoster/target/
/AddressBook/target/
/DVDLibrary/target/
/Section03UnitTests/nbproject/
/Section03UnitTests/target/
/DVDLibrary/nbproject/
/ClassRoster/nbproject/
/AddressBook/nbproject/
/Practicewithenums/target/
/BigDecimalCodeAlong/target/
/LambdaPractice/target/
/VendingMachine/target/
/VendingMachine/nbproject/
/Person/nbproject/
/Person/target/
/maventest/target/
/Section04UnitTests/nbproject/